<div class="m-1 p-1">
    <form asp-action="ManualReceiveForm" method="post">
        <div class="form-group">
            <lable for="name">Name: </lable>
            <input name="name" class="form-control" />
        </div>
        <div class="form-group">
            <lable for="city">City: </lable>
            <input name="city" class="form-control" />
        </div>
        <button class="btn btn-primary center-block" type="submit">Submit</button>
    </form>

</div>